<footer>

    <img src="/assets/zoomed-landscape-ifuture-final.png" alt="">

<div class="righttable">
    <ul>
        <b><li>Contact Us</li></b>
        <li id="title">Home</li>
        <li id="title">Services</li>
        <li id="title">Projects</li>
        <li id="title">Company</li>
      </ul>
      <ul>
        <b><li>Primary Pages</li></b>
        <li id="title">Home</li>
        <li id="title">Services</li>
        <li id="title">Projects</li>
        <li id="title">Company</li>
      </ul>
</div>

<div class="copyright">
    © 2019-2023 <span id="ifuture">iFuture Studio</span> All Rights Reserved.
</div>

</footer>