
<div class="entry">

    <div class="entrytitle">
        Grow your Business & Customer Satisfaction with iFuture Studio
    </div>
    
</div>

<!-- ////// -->

<div class="about-us">


    <div class="about-us-block">

        <div class="smalldata">Our story</div>
       <div class="smalldatatitle">A Great Story Starts with a Friendly Team</div>
       <div class="smalldatadescription">We at iFuture Studio believe in developing cutting-edge technologies that everyone can easily use and access. Solutions that help businesses deliver efficient management and memorable experiences. More importantly, help them grow. That is why in 2019 we started our journey.
       <br><br> Everyday we are helping our clients change for the better the way they run their operations. Closely working with clients of all sizes to grow their business.</div> 

    </div>


    <div class="about-us-block">

        <div class="smalldata">Our Mission & Vision</div>
       <div class="smalldatatitle">We are proud of what we deliver</div>
       <div class="smalldatadescription">
         
        <div class="mission">
            Mission
        </div>
        <div class="missiondescription">
            To help businesses and startups build the right products in a cost-efficient way and scale their business.
        </div>

        <div class="vision">
            Vision
        </div>
        <div class="visiondescription">
            To become the largest <span id="softwarehouse"> Software House </span>in Balkan.
        </div>
        
       </div> 

    </div>

</div>


<!-- /////// -->

<div class="contactinfo">

<div class="topinfo">

    <div class="toptitle">Get in touch with us.</div>
    
    </div>



<div class="info-block-container">

    <!-- Software Development -->

  

    <div class="info-block">

        <div class="fa"><i class="fa-solid fa-envelope"></i></div>
       <div class="title">Email Us</div>
       <div class="description">Simple drop us an email at info@ifuture.al and you'll receive a reply within 24 hours</div> 

    </div>


    <div class="info-block">

        <div class="fa"><i class="fa-solid fa-phone-volume"></i></div>
        <div class="title">Give us a call</div>
        <div class="description">Give us a ring.Our Experts are standing by monday to saturday from 9am to 5pm CET.</div>

    </div>

    <div class="info-block">

        <div class="fa"><i class="fa-solid fa-thumbs-up"></i></div>
        <div class="title">Our socials</div>
        <div class="description">You can find us on <a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">LinkedIn</a>, <a href="#">TikTok</a>.</div>

    </div>


</div>

</div>




<app-footer></app-footer>
<router-outlet></router-outlet>