
<div class="topinfo">

    <div class="services">Services</div>
    <div class="toptitle">Performance and innovation.</div>
    <div class="subtoptitle">Accelerate your business with our services.</div>
    
    </div>
    
    
    
    <div class="boxtitles">Web & Software Development</div>
    <div class="info-block-container">
    
        <!-- Software Development -->
    
      
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-code" id="fa"></i></div>
           <div class="title">{{web_design_and_development_title}}</div>
           <div class="description">{{web_design_and_development}}</div> 
    
        </div>
    
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-code" id="fa"></i></div>
            <div class="title">{{ web_application_development_title }}</div>
            <div class="description">{{ web_application_development }}</div>
    
        </div>
    
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-code" id="fa"></i></div>
            <div class="title">{{ e_commerce_development_title }}</div>
            <div class="description">{{ e_commerce_development }}</div>
    
        </div>
    
    </div>
    
    <div class="boxtitles">Web & Software Development</div>
    <div class="info-block-container">
    
        <!-- Design -->
    
        <div class="info-block">
    
            
            <div class="fa"><i class="fa-solid fa-pen" id="fa"></i></div>
            <div class="title">{{ uxui_design_title }}</div>
            <div class="description">{{ uxui_design }}</div>
    
        </div>
    
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-pen" id="fa"></i></div>
            <div class="title">{{ product_design_title }}</div>
            <div class="description">{{ product_design }}</div>
    
        </div>
    
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-pen" id="fa"></i></div>
            <div class="title">{{ wireframe_prototyping_title }}</div>
            <div class="description">{{ wireframe_prototyping }}</div>
    
        </div>
    
    </div>
    
        <div class="boxtitles">Web & Software Development</div>
        <div class="info-block-container">
    
        <!-- Branding & Marketing -->
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-chart-simple" id="fa"></i></div>
            <div class="title">{{ logo_design_title }}</div>
            <div class="description">{{ logo_design }}</div>
    
        </div>
    
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-chart-simple" id="fa"></i></div>
            <div class="title">{{ packaging_design_title }}</div>
            <div class="description">{{ packaging_design }}</div>
    
        </div>
    
    
        <div class="info-block">
    
            <div class="fa"><i class="fa-solid fa-chart-simple" id="fa"></i></div>
            <div class="title">{{ seo_title }}</div>
            <div class="description">{{ seo }}</div>
        </div>
    
    
      </div>
    
     
    
    
    
    <app-footer></app-footer>
    <router-outlet></router-outlet>
